@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		@media #{map-get($breakpoints, $breakpoint)} {
			@content;
		}
	} @else {
		@warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '+'Please make sure it is defined in `$breakpoints` map.';
	}
}

@mixin orientation($position) {
	@if $position==landscape {
		@media only screen and (orientation: landscape) {
			@content;
		}
	} @else if $position==portrait {
		@media only screen and (orientation: portrait) {
			@content;
		}
	}
}

@font-face {
	font-family: 'Overpass-Regular';
	src: url('/fonts/Overpass-Regular/Overpass-Regular.eot'); /* IE9 Compat Modes */
	src:
		/* Safari, Android, iOS */ url('/fonts/Overpass-Regular/Overpass-Regular.woff')
			format('woff'),
		/* Modern Browsers */ url('/fonts/Overpass-Regular/Overpass-Regular.woff2')
			format('woff2'); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

//variables
//fonts
$font_primary: 'Overpass-Regular';

//color primary
$color_fucsia: #ff3366;
$color_green: #10b759;
$color_cian: #7ee5e5;
$color_yellow: #fbbc06;
$color_pink: #f77eb9;
$color_purple: #727cf5;
$color-red: #e40414;

//mixin
@mixin container {
	width: 70%;
	margin: auto;
	@include respond-to(m-1024) {
		width: 80%;
	}
	@include respond-to(m-768) {
		width: 90%;
	}
}

@mixin container_navbar {
	width: 90%;
	margin: auto;
}
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}
